<div class="question">
  <div class="userDetail">
    <%= question.user.email %>
    <br>
    <%= question.title %>
    <%= question.content %>
    <br>
  <%= link_to 'Show', question ,params[id: question.id]%>
  <%= link_to "Delete", question, method: :delete, data: {confirm: "Are you sure?"}%>


  </div>
</div>
